<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card shadow-sm border-0">
      <div class="card-header pb-2 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Vendedores</h5>
        <a routerLink="/usuarios/nuevo" class="btn btn-sm btn-primary">
          <i class="ti ti-plus me-1"></i> Agregar usuario
        </a>
      </div>

      <div class="card-body pt-2">
        <!-- Filtros -->
        <div class="row mb-3">
          <!-- Switch Activos / Archivados -->
          <div class="col-md-4">
            <div class="form-check form-switch ms-1">
            </div>
          </div>

          <!-- Buscador -->
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar por nombre..."
                [(ngModel)]="busqueda"
                (keyup.enter)="onBuscar()" />
              <button class="btn btn-outline-secondary" type="button" (click)="onBuscar()">
                <i class="ti ti-search"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- SHIMMER -->
        <div *ngIf="cargando" class="shimmer-container">
          <div *ngFor="let _ of [1,2,3,4]" class="placeholder-row shimmer">
            <div class="placeholder-col" *ngFor="let __ of [1,2,3,4,5,6]"></div>
          </div>
        </div>

        <!-- TABLA -->
        <div class="table-responsive" *ngIf="!cargando">
          <table class="table table-hover bg-white">
            <thead>
              <tr>
                <th>#</th>
                <th>Vendedor</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of rutas; let i = index">
                <td>{{ u.usuario }}</td>
                <td>{{ u.nombre }}</td>
                <td>{{ u.fecha_inicio }}</td>
                <td>{{ u.fecha_fin }}</td>
                <td>{{ u.estado_actual || '-' }}</td>
                                <td class="text-center">
                  <a class="btn btn-link-primary"
                     title="Editar"
                     [routerLink]="['/usuarios/editar', u.usuario]">
                    <i class="ti ti-pencil"></i>
                  </a>
                </td>
                <td class="text-center">
                </td>
              </tr>
              <tr *ngIf="rutas.length === 0">
                <td colspan="7" class="text-center text-muted">
                  No hay rutas disponibles.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
