<div class="ms-auto">
  <ul class="list-unstyled d-flex align-items-center mb-0">

    <!-- Botón Sincronizar -->
    <li class="me-2">
      <button class="btn btn-outline-primary" (click)="sincronizarDatos()">
        <i class="ti ti-refresh"></i> Sincronizar datos
      </button>
    </li>

    <!-- Botón Enviar Ventas -->
    <li class="me-2">
      <button class="btn btn-outline-success" (click)="enviarVentas()">
        <i class="ti ti-send"></i> Enviar ventas ({{ conteo }})
      </button>
    </li>

    <!-- Notificaciones -->
    <li>
      <div class="dropdown pc-h-item" ngbDropdown>
        <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0" href="javascript:"
          ngbDropdownToggle>
          <i class="ti ti-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h5>
              Notificaciones
              <span class="badge bg-warning rounded-pill ms-1">0</span>
            </h5>
          </div>

          <div class="dropdown-divider"></div>
          <div class="text-center py-2">
            <a href="javascript:" class="link-primary">Marcar todas como leídas</a>
          </div>
        </div>
      </div>
    </li>

    <!-- Perfil de Usuario -->
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0 d-flex align-items-center"
          href="javascript:" ngbDropdownToggle>
          <img [src]="imagenUrl || 'assets/images/user/avatar-2.jpg'" alt="user-image" class="user-avtar me-2" />

          <span><i class="ti ti-settings"></i></span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4 class="mb-1">Buenos días, {{ nombreUsuario }}</h4>
            <p class="text-muted mb-0">Administrador</p>
          </div>

          <div class="dropdown-divider"></div>

          <div class="dropdown-body">
            <a class="dropdown-item" (click)="logout()">
              <i class="ti ti-logout"></i>
              <span>Cerrar sesión</span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
