<!-- src/app/pages/usuarios/usuario-form/usuario-form.component.html -->
<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card shadow-sm border-0">

      <!-- Header -->
      <div class="card-header pb-2 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
          {{ esEdicion ? 'Editar Usuario' : 'Nuevo Usuario' }}
        </h5>
        <button class="btn btn-secondary" (click)="guardar()">
          <i class="ti ti-device-floppy me-2"></i> Guardar
        </button>
      </div>

      <!-- Loader Overlay -->
      <div *ngIf="cargando" class="loader-overlay">
        <img src="assets/images/loading.gif" alt="Cargando..." class="loader-img" />
      </div>

      <!-- Body -->
      <div class="card-body pt-3">
        <form [formGroup]="form" novalidate>
          <div class="row g-3">

            <!-- Nombre -->
            <div class="col-md-6">
              <app-form-field [control]="form.get('nombre_usuario')" label="Nombre"
                errorText="El nombre es obligatorio.">
                <input type="text" class="form-control" formControlName="nombre_usuario" [ngClass]="{
                    'is-invalid': form.get('nombre_usuario')?.invalid && form.get('nombre_usuario')?.touched,
                    'bg-grisesillo': esEdicion
                  }" [readonly]="esEdicion" />
              </app-form-field>
            </div>

            <!-- Número celular -->
            <div class="col-md-6">
              <app-form-field [control]="form.get('numero_celular')" label="Número celular"
                errorText="Introduce un número válido.">
                <input type="text" class="form-control" formControlName="numero_celular" [ngClass]="{
                    'is-invalid': form.get('numero_celular')?.invalid && form.get('numero_celular')?.touched,
                    'bg-grisesillo': esEdicion
                  }" 
                  [readonly]="esEdicion"
                  />
              </app-form-field>
            </div>

            <!-- dropdown sucursal -->
            <div class="col-md-6">
              <app-form-field [control]="form.get('diario')" label="Diario" errorText="Selecciona un diario.">
                <select class="form-select" formControlName="diario" [ngClass]="{
        'is-invalid': form.get('diario')?.invalid && form.get('diario')?.touched}">
                  <option value="">Selecciona un diario</option>
                  <option *ngFor="let d of diarios" [value]="d.id_diario" [disabled]="d.eliminado">
                    {{ d.nombre_diario }}
                  </option>
                </select>
              </app-form-field>
            </div>

            <!-- dropdown cliente -->
             <div class="col-md-6">
              <app-form-field [control]="form.get('cliente')" label="Cliente" errorText="Selecciona un cliente.">
                <select class="form-select" formControlName="cliente" [ngClass]="{'is-invalid': form.get('cliente')?.invalid && form.get('cliente')?.touched}">
                  <option value="">Selecciona un cliente</option>
                  <option *ngFor="let c of clientes" [value]="c.id_cliente">{{ c.nombre_cliente }}</option>
                </select>
              </app-form-field>
             </div>

             <!-- drop down almacenes -->
              <div class="col-md-6">
                <app-form-field [control]="form.get('ubicacion_almacen')" label="Ubicacion Almacén" errorText="Selecciona una ubicación de almacén.">
                  <select class="form-select" formControlName="ubicacion_almacen" [ngClass]="{'is_invalid': form.get('cliente')?.invalid && form.get('cliente')?.touched}">
                    <option value="">Selecciona un almacén</option>
                    <option *ngFor="let ua of ubicacion_almacen" [value]="ua.id_ubicacion">{{ ua.nombre_ubicacion }}</option>
                  </select>
                </app-form-field>
              </div>


            <!-- Contraseña -->
            <div class="col-md-6">
              <app-form-field [control]="form.get('contrasena')" label="Contraseña" errorText="">
                <input type="password" class="form-control" formControlName="contrasena" placeholder="••••••" [ngClass]="{
                    'is-invalid': form.get('contrasena')?.invalid && form.get('contrasena')?.touched
                  }" />
              </app-form-field>
              <small class="text-muted ms-1">
                Dejar vacío para no cambiar la contraseña
              </small>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>